<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"  >
	<bean id="performer" class="com.likeyichu.aop.Performer"/>
	<bean id="audience" class="com.likeyichu.aop.Audience"/>
 <aop:config>
	<aop:aspect ref="audience">
		<aop:pointcut id="performance" expression="execution (* com.likeyichu.aop.Performer.perform(..))"/>
		<aop:before pointcut-ref="performance" method="takeSeats"/>
		<aop:after-returning pointcut-ref="performance" method="applause"/>
		<aop:after-throwing pointcut-ref="performance" method="boo"/>
		<aop:around  pointcut-ref="performance" method="watch"/>
	</aop:aspect>
</aop:config>
</beans>
